@use 'sass:color';
@use 'sass:math';

:root {
	-webkit-text-size-adjust: 100%;
	font-size: 16px;
	line-height: 1.5;

	--white: #fff;
	--black: #000;
	--cod-gray: #{color.change(#000, $lightness: 11.8033989%)};
	--silver: #c4c4c4;
	--purple-heart: #771cbe;

	--body-bg-light: var(--white);
	--body-bg-dark: var(--cod-gray);
	--body-color-light: var(--black);
	--body-color-dark: var(--light);
}

body {
	font-family: "Crete Round", serif;
	font-family: "Poppins", sans-serif;
	font-family: "Roboto", sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: clip;
	margin: 0;
	background-color: var(--body-bg-light);
	color: var(--body-color-light);
}

*,
::before,
::after {
	box-sizing: border-box;
}

.header {
	min-height: 4.5rem;
	&__btn {
		min-width: math.div(141, 16) + 0rem; // ~ 141px
	}
}

.form {
	&__group {
		display: flex;flex-direction: column;
	}

	&__submit {
		align-self: end;
	}
}

.app {
	$-app: &;
	min-height: 100svh;

	&__button-wrapper {
		position: fixed;
		&--stickered {
			#{$-app} {
				&__button {
					clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); // 1 - horizontal, 2 - vertical
					transform: scale(0.6);
				}
			}
		}
	}

	&__button {
		display: block;
		color: var(--white);
		background-color: var(--purple-heart);
		border-radius: 100rem;
		border: 0;
		font-size: 1rem;
		padding: 0;
		padding: 0.5rem;
		min-height: math.div(40, 16) + 0rem;
		transition-property: clip-path transform;
		transition-duration: 1s;
		transition-timing-function: ease;
		transform: scale(1);
		transform-origin: center center;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); // 1 - horizontal, 2 - vertical
	}

	&__container {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
		padding: 0 1rem;
	}

	&__frame {
		&--1 {
			height: 100svh;
		}

		&--2 {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
		}
	}

	&__header {
		padding: 1rem 0;
		display: flex;
		justify-content: end;
	}

	&__form {
		display: flex;
		flex-wrap: wrap;;
		align-items: center;
		justify-content: center;
		align-content: center;
		padding: 1rem;
		background-color: var(--silver);
		height: 100%;
		max-height: 30%;
		gap: 1rem;
	}

	&__media {
		@media (min-width: 768px) {
			width: calc(50% - 0.5rem);
		}
	}

	&__text {
		transform: translateX(-10%);
		transition-property: opacity, transform;
		transition-duration: 1s;
		transition-timing-function: ease-out;
		opacity: 0;

		&.visible {
			transform: translateX(0%);
			opacity: 1;
		}

		@media (min-width: 768px) {
			width: calc(50% - 0.5rem);
		}
	}

	&__picture {
		display: block;
	}

	&__picture-img {
		max-width: 100%;
		height: auto;
	}

	&__paragraph {
		margin: 0 0 1rem;
	}
}
